.DS_Store
.vagrant
.bundle
*/*/*.pyc
**/*.pyc
out
vendor/
scripts/env.sh

# don't check in the example data; it will be hosted separatedly
example/mrsa.db
example/mrsa.tar.gz
example/igb
example/key.*
